<nav class="navbar">
    <div class="container">
      <a class="logo" routerLink="/home">Fleet Management</a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fleet">Fleet Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/driver">Driver Monitoring</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reports">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings">Settings</a>
        </li>
      </ul>
      <div class="user-info">
        <img class="avatar" src="https://st.depositphotos.com/1008939/1880/i/950/depositphotos_18807295-stock-photo-portrait-of-handsome-man.jpg" alt="User Avatar">
        <div class="user-details">
          <span class="user-name">User Name</span>
          <span class="user-email">name.surnamegmail.com</span>
        </div>
      </div>
    </div>
  </nav>
  